*{

    padding: 0px;
    margin: 0%;
}

body{

    background: #6610f2;
    font-family: "Poppins", sans-serif;
    
}

.all{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(images/bg-dot.png), url(images/bg-dot.png), url(images/bg-round.png), url(images/bg-tree.png);
    background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
    background-repeat: no-repeat;
}
nav{
    position: absolute;
    top: 0px;
    width: 100%;
    height:auto;
    background: none;
}

nav .nav-container{

    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}

nav .nav-container h2{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    padding: 15px 0px;
    cursor: pointer;
    font-weight: 50px;
}

nav .nav-container .nav-buttons{

    display: flex;
    direction: row;
    align-items: center;


}

nav .nav-container #menu-button{
    display: none;
}

nav .nav-container .nav-buttons a{
    padding: 10px;
    margin: 0px 5px;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

/* Header is end*/

/*Hero is start */
.hero{
    width: 80%;
    height: 500px;
    margin: 0px auto;
    margin-top: 10%;
    display: flex;
}

.hero .content{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hero .content .brif{
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: white;
    padding: 5px;
    margin: 10px;
}

.hero .content .discription{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    padding: 5px;
    margin: 10px;
}

.hero .content .content-buttons{
    padding: 5px;
    margin: 10px;
}
.hero .content .content-buttons button{
    cursor: pointer;

    padding: 15px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border: none;
    transition: all 0.3s ease;

}

.hero .content .content-buttons button:nth-child(2){
    color: white;
    background: none;
    border: 1px solid white;
}
.hero .content .content-buttons button:nth-child(2):hover{
    background: white;
}

.hero .img{
    width: 50%;
    height: auto;
    display: block;
}


.hero .img img{
    width: 100%;
    z-index: 10;
    position: relative;
}




body .bg-bottom-hero{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}




@media(width <860px){

    nav{
        background-color: white;

    
    }
    nav .nav-container{
    width: 90%

    }
    
    nav .nav-container h2{
        color: black;
        width: 50px;
        height: auto;
    }

  nav .nav-container #menu-button{   /* button menu that is appeared in layout width smaller 860px */
        display: block;
        width: 40px;
        height: auto;
        cursor: pointer;
    }


    nav .nav-container .nav-buttons{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    }

    nav .nav-container.show-menu .nav-buttons{
        left:0px;
        background-color: white;

    }



    nav .nav-container.show-menu .nav-buttons a{
        color: black;
    } 

    nav .nav-container.show-menu .nav-buttons a:nth-child(1){
        margin-top: 60px;
    }

    .content-buttons{
        display: block;
    }

    .hero{
        flex-direction: column;
    }
    body .bg-bottom-hero{
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -580px;
        z-index: 0;
    }
    .hero .img{
        width: 80%;
    }


}

